<!doctype html>
<html lang='en'>
<head>
	<title> Help Page</title>
	<link rel="stylesheet" href="../stylesheets/helppage.css" />
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="Background"><img class="backgroundimg" src="../images/woodentexture.jpg"></div>
	<div class="Container"> </div>
	<div class="Mainmenucontainer"> 
		<div class="Mainmenu"><a href="/">Main Menu</a>
		</div>
	</div>
	<div class="Help"><a href="/help"> Help </a></div>
	<div class="Objectives"> Objective of game: </div>
	<div class="ObjectivesC">~ Progressing to highest level possible! </div>
	<div class="Rules"> Rules: </div>
	<div class="Rules1">1. Find the required number of synonyms for the word given </br> in the level within the time limit</div>
	<div class="Rules2"> 2. More importantly, have fun! :D </div>

</body>
</html>