<!doctype html>
<html lang='en'>
<head>
	<title> Help Page</title>
	<link rel="stylesheet" href="../stylesheets/leaderboard.css" />
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="Background"><img class="backgroundimg" src="../images/woodentexture.jpg"></div>
	<div class="Container"> </div>
	<div class="Mainmenucontainer"> 
		<div class="Mainmenu"><a href="/"> Main Menu</a>
	</div>
	</div>
	<div class="Construction"> PAGE IS CURRENTLY UNDER CONSTRUCTION </div>

</body>
</html>