<!doctype html>
<html lang='en'>
<head>
	<title> Leaderboards </title>
	<link rel="stylesheet" href="../stylesheets/leaderboard.css" />
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/json2.js"></script>
</head>
<body>
	<div class="Background"><img class="backgroundimg" src="../images/chalkboard2.jpg"></div>
	<div class="Container"> </div>
	<div class="Label"><a href="/"> LEADERBOARD </a></div>

	<input id="playerName" type="hidden" value="{{playerName}}">

	<div id="CurrentLeaders">
		<ul>
			<li id="firstPlace"> </li>
			<li id="secondPlace"> </li>
			<li id="thirdPlace"> </li>
			<li id="fourthPlace"> </li>
			<li id="fifthPlace"> </li>
		</ul>
	</div>

	<div id="CurrentLevels">
		<ul>
			<li id="firstLevel"> </li>
			<li id="secondLevel"> </li>
			<li id="thirdLevel"> </li>
			<li id="fourthLevel"> </li>
			<li id="fifthLevel"> </li>
		</ul>
	</div>

	<script>
		if($.cookie('nameList') == undefined) {
			var playerLevel = $.cookie('currentLevel');
			var playerName = document.getElementById("playerName").value;
			var nameList = [playerName];
			var levelList = [playerLevel];
			$.cookie('nameList', (JSON.stringify(nameList)), {expire: 7})
			$.cookie('levelList', (JSON.stringify(levelList)), {expire: 7})
			document.getElementById("firstPlace").innerHTML = playerName;
			document.getElementById("firstLevel").innerHTML = playerLevel;
		}
		else {
			var playerLevel = $.cookie('currentLevel');
			var playerName = document.getElementById("playerName").value;
			var nameList = JSON.parse($.cookie('nameList'));
			var levelList = JSON.parse($.cookie('levelList'));
			for(i = 0; i < levelList.length; i++) {
				if(playerLevel >= levelList[i]) {
					levelList.splice(i, 0, playerLevel);
					nameList.splice(i, 0, playerName);
					break;
				}
			}
			if(nameList.length === (JSON.parse($.cookie('nameList'))).length) {
				levelList.push(playerLevel);
				nameList.push(playerName);
			}
			$.cookie('nameList', (JSON.stringify(nameList)), {expire: 7});
			$.cookie('levelList', (JSON.stringify(levelList)), {expire: 7});
			if(nameList.length === 1) {
				document.getElementById("firstPlace").innerHTML = "1st: " + nameList[0].toString();
				document.getElementById("firstLevel").innerHTML = "Level: " + levelList[0].toString();				
			}
			else if(nameList.length === 2) {
				document.getElementById("firstPlace").innerHTML = "1st: " + nameList[0].toString();
				document.getElementById("secondPlace").innerHTML = "2nd: " + nameList[1].toString();
				document.getElementById("firstLevel").innerHTML = "Level: " + levelList[0].toString();
				document.getElementById("secondLevel").innerHTML = "Level: " + levelList[1].toString();				
			}
			else if(nameList.length === 3) {
				document.getElementById("firstPlace").innerHTML = "1st: " + nameList[0].toString();
				document.getElementById("secondPlace").innerHTML = "2nd: " + nameList[1].toString();
				document.getElementById("thirdPlace").innerHTML = "3rd: " + nameList[2].toString();
				document.getElementById("firstLevel").innerHTML = "Level: " + levelList[0].toString();
				document.getElementById("secondLevel").innerHTML = "Level: " + levelList[1].toString();
				document.getElementById("thirdLevel").innerHTML = "Level: " + levelList[2].toString();
			}
			else if(nameList.length === 4) {
				document.getElementById("firstPlace").innerHTML = "1st: " + nameList[0].toString();
				document.getElementById("secondPlace").innerHTML = "2nd: " + nameList[1].toString();
				document.getElementById("thirdPlace").innerHTML = "3rd: " + nameList[2].toString();
				document.getElementById("fourthPlace").innerHTML = "4th: " + nameList[3].toString();
				document.getElementById("firstLevel").innerHTML = "Level: " + levelList[0].toString();
				document.getElementById("secondLevel").innerHTML = "Level: " + levelList[1].toString();
				document.getElementById("thirdLevel").innerHTML = "Level: " + levelList[2].toString();
				document.getElementById("fourthLevel").innerHTML = "Level: " + levelList[3].toString();
			}
			else if(nameList.length >= 5) {
				document.getElementById("firstPlace").innerHTML = "1st: " + nameList[0].toString();
				document.getElementById("secondPlace").innerHTML = "2nd: " + nameList[1].toString();
				document.getElementById("thirdPlace").innerHTML = "3rd: " + nameList[2].toString();
				document.getElementById("fourthPlace").innerHTML = "4th: " + nameList[3].toString();
				document.getElementById("fifthPlace").innerHTML = "5th: " + nameList[4].toString();
				document.getElementById("firstLevel").innerHTML = "Level: " + levelList[0].toString();
				document.getElementById("secondLevel").innerHTML = "Level: " + levelList[1].toString();
				document.getElementById("thirdLevel").innerHTML = "Level: " + levelList[2].toString();
				document.getElementById("fourthLevel").innerHTML = "Level: " + levelList[3].toString();
				document.getElementById("fifthLevel").innerHTML = "Level: " + levelList[4].toString();
			}
		}
	</script>	
</body>
</html>