<!doctype html>
<html lang='en'>
<head>
	<title> Word Blitz</title>
	<link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../stylesheets/main.css" />
</head>
<body>
	<div class="background"> <img class="backgroundimg" src="../images/woodentexture.jpg"></div>
	<div class="Logo"><a href="/"> Word Blitz </a></div>
	<div class="NewGame"><a href="/game"> New Game </a> </div>
	<div class="Leaderboard"><a href="/leaderboard"> Leaderboard </a></div>
	<div class="Help"><a href="/help"> Help </a></div>
</body>
</html>